table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
}

caption {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

th, td {
  padding: 12px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.gris {
  background-color: grey;
}
