<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout</title>
    <span th:replace="~{home :: bootstrapImport}"></span>
</head>
<body>



<span th:replace="~{home :: navbar}"></span>
<main class="container">
    <h1>Formulaire</h1>
    <form th:action="@{/formulaireRecette}" method="post" th:object="${recipe}">
        <input th:field="*{id}" type="hidden">
        <div class="mb-3">
            <label for="name" class="form-label">Nom :</label>
            <input th:field="*{name}" type="text" class="form-control" id="name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="mb-3">
            <label for="components" class="form-label">Ingrédient :</label>
            <input th:field="*{components}" type="text" class="form-control" id="components">
            <span th:if="${#fields.hasErrors('components')}" th:errors="*{components}"></span>
        </div>
        <div class="mb-3">
            <label for="instructions" class="form-label">Instruction :</label>
            <input th:field="*{instructions}" type="text" class="form-control" id="instructions">
            <span th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}"></span>
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Catégorie :</label>
            <select th:field="*{categoryId}" class="form-control" id="categoryId">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <span th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></span>
        </div>
        <button type="submit" class="btn btn-primary" th:text="${recipe.id == null ? 'Ajouter' : 'Modifier'}"></button>
    </form>
</main>
</body>
</html>